{%extends 'base.html'%}
{%load static %}
{%block body%}
<form method="POST">
    {%csrf_token%}
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationServer01">Title Of Ticket</label>
        <input type="text" name="title" class="form-control is-valid" id="validationServer01" placeholder="Title..." required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationServer02">Overview</label>
        <input type="text" name="overview" class="form-control is-valid" id="validationServer02" placeholder="Overview" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationServer03">Slug of Ticket</label>
        <input type="text" name="slug" class="form-control is-invalid" id="validationServer03" placeholder="use - for spaces" required>
      </div>
    </div>
      <div class="form-row">
      <div class="col-md-12">
        <label for="validationServer05">Ticket!</label>
        <textarea name="body_text" id="" class="form-control is-invalid" required></textarea>
      </div>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
    <script>
        CKEDITOR.replace( 'body_text' );
    </script>
  </form>
{%endblock%}