{%extends 'base.html'%}
{%load static %}
{%block body%}
<br>

<form method="POST">
    {%csrf_token%}
    <div class="form-row align-items-center">
      <div class="col-sm-3 my-1">
        <label class="sr-only" for="inlineFormInputName">Feedback</label>
        <input type="text" name="feed" class="form-control" id="inlineFormInputName" placeholder="Tell Us What You Feel!">
      </div>
      <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  <br>
{%endblock%}